body{
    margin:0;
    background:black
}

nav{
    display:flex;
    justify-content:space-between;
    background:black;
    padding:4vh;
}

.logo{
    height:50px;
    width:auto;
}

nav a{
    color:white;
    padding:2vh;
    text-decoration: none;
    font-size:3vh;
}

nav a:hover{
    border:1px black solid;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-left:4vh;
    padding-right:4vh;
    color:black;
    animation: blinds 0.75s linear forwards;
    background: linear-gradient(0deg, blue 25%, transparent 25%) 0 0 / 0.5em 0.5em
              , linear-gradient(0deg, lightblue 50%, transparent 50%) 0 0 / 1em 1em;
    color: adjust-hue(white,180);
    
}

.box{
    font-size:1.5vh;
    padding:1vh;
    animation: blinds 3s linear forwards ;
    background: linear-gradient(0deg, lightblue 25%, transparent 25%) 0 0 / 0.5em 0.5em
              , linear-gradient(0deg, white 50%, transparent 50%) 0 0 / 1em 1em;
    color: adjust-hue(white,180);  
    font-family: 'Alegreya Sans', sans-serif;
}


.welc{
    background-image: url(IMGS/3.jpg);
    background-attachment: fixed;
    background-color:black;
    background-blend-mode:hard-light;
    background-repeat:no-repeat;
    background-position:center;
    text-align:center;
    padding:14vh;
}

h1{
    text-shadow: 0 5px 5px blue, 0 5px 5px blue;
    font-size:6vh;
    color:white;
    font-family: 'Berkshire Swash', cursive;
}

h2{
    margin:0;
    font-family: 'Graduate', cursive;
}

a{
     font-family: 'Graduate', cursive;
    
}

h3{
    font-family: 'Righteous', cursive;

}
  
@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
    
    



    
    
    
    
    
    