body{
    margin:0;
}

nav{
    display:flex;
    justify-content:flex-end;
    background:black;
    padding:4vh;
}

nav a{
    color:white;
    padding:2vh;
}

nav a:hover{
    border:1px black solid;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-left:4vh;
    padding-right:4vh;
    color:black;
    animation: blinds 0.75s linear forwards;
    background: linear-gradient(0deg, blue 25%, transparent 25%) 0 0 / 0.5em 0.5em
              , linear-gradient(0deg, lightblue 50%, transparent 50%) 0 0 / 1em 1em;
    color: adjust-hue(white,180);
    
}

.wel{
    background-image: url(IMGS/2.jpg);
    background-attachment: fixed;
    background-color:black;
    background-blend-mode:hard-light;
    background-repeat:no-repeat;
    background-position:center;
    color:white;
    text-align:center;
    padding:20vh;
}


@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }