body{
    margin:0;
}

nav{
    display:flex;
    justify-content:flex-end;
    background:black;
    padding:4vh;
}

nav a{
    color:white;
    padding:2vh;
}

nav a:hover{
    border:1px black solid;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-left:4vh;
    padding-right:4vh;
    background:white;
    color:black;
    animation:slow 1s;
}

.wel{
    background-image: url(IMGS/2.jpg);
    background-attachment: fixed;
    background-color:black;
    background-blend-mode:hard-light;
    background-repeat:no-repeat;
    background-position:center;
    color:white;
    text-align:center;
    padding:20vh;
}